modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
DATABASE_URL = "postgresql://neondb_owner:npg_pzImeXK27URT@ep-raspy-silence-ahb2jnyg-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
CHECKOUT_MERCHANT_ID = "255801704351"
PAYONEER_EMAIL = "mudassiranimator92@gmail.com"
JAZZCASH_NUMBER = "03090778692"
EASYPAISA_NUMBER = "03090778692"
BANK_ACCOUNT_INFO = "Contact us"
ADMIN_KEY = "admin123"
DOMAIN = "https://c5862050-33b7-4143-97b1-202e6fc17b96-00-37eolqgskuebn.sisko.replit.dev"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39471
externalPort = 3001

[[ports]]
localPort = 44691
externalPort = 3000

[[ports]]
localPort = 45451
externalPort = 3002
